
<uib-tabset active="active" type="tabs" vertical="false" justified="true">
  <uib-tab heading="Pending" index="0" type="pills">
    <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th># </th>
              <th>Contributed by</th>
              <th>Description </th>
              <th>Monetary Value</th>
              <th>Time Created</th>
              <th>Status </th>
              <th>Action </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> 1</td>
              <td>John Doe</td>
              <td>Bag of Cement</td>
              <td>N$300 </td>
              <td>20/09/2017 10:30:21</td>
              <td>
                <button class="btn btn-warning btn-sm" type="button">pending </button>
              </td>
              <td>
                <button class="btn btn-danger btn-sm" type="button">delete </button>
                <button class="btn btn-primary btn-sm" type="button">Disapprove </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </uib-tab>

  <uib-tab heading="Approved" index="1">
    <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th># </th>
              <th>Contributed by</th>
              <th>Description </th>
              <th>Monetary Value</th>
              <th>Time Approved</th>
              <th>Status </th>
              <th>Action </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> 1</td>
              <td>John Doe</td>
              <td>Bag of Cement</td>
              <td>N$300 </td>
              <td>20/09/2017 10:30:21</td>
              <td>
                <button class="btn btn-success btn-sm" type="button">Approved </button>
              </td>
              <td>
                <button class="btn btn-danger btn-sm" type="button">delete </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </uib-tab>
</uib-tabset>
