

    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Dashboard </h3></div>
            <div class="panel-body"><span> </span>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Goods Contributed</h3></div>
                        <div class="panel-body"><span>The Goods Contributed and the amount of each</span></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Money Contributed</h3></div>
                        <div class="panel-body"><span>The money contribuited by each daily</span></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Services Contributed</h3></div>
                        <div class="panel-body"><span>Services contributed and the number of contributers </span></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Group Contributions</h3></div>
                        <div class="panel-body"><span>The Top 4 Groups and their contributions</span></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Highest Points</h3></div>
                        <div class="panel-body"><span>The Top 4 groups with highest Points</span></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Top 5 Users With highest Points</h3></div>
                        <div class="panel-body"><span>The Top 4 groups with highest Points</span></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="#!/approvals">Approvals </a></div>
                        <div class="panel-body"><span> </span>
                            <button class="btn btn-warning btn-sm" type="button">pending <span class="badge">5 </span> </button>
                            <button class="btn btn-success btn-sm" type="button">Approved <span class="badge">42</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
