<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Events </h3></div>
            <div class="panel-body"><span> </span><a class="btn btn-success btn-sm" role="button" href="#!/add-event">Create event</a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th># </th>
                                <th>Name </th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="event in events">
                                <td>1 </td>
                                <td><a href="#!/event">{{event.title}}</a></td>
                                <td>{{event.starting_date}} {{event.starting_time}}</td>
                                <td>{{event.ending_date}} {{event.ending_time}}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a href="#!/update-event/{{event.$id}}" class="btn btn-primary btn-sm" type="button">update </a>
                                        <button ng-click="delete($id)" class="btn btn-danger btn-sm" type="button">Delete </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
