<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Events </h3></div>
            <div class="panel-body"><span> </span><a class="btn btn-success btn-sm" role="button" href="#!/add-event">Create event</a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th># </th>
                                <th>Name </th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1 </td>
                                <td><a href="#!/event">Buy-a-brick Hackathon</a></td>
                                <td>6/10/2017 17:30</td>
                                <td>11/10/2017 20:30</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-primary btn-sm" type="button">update </button>
                                        <button class="btn btn-danger btn-sm" type="button">Delete </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
