
    <form class="form-signin">

                <div class="form-group"><input name="email" ng-model="email" class="form-control" type="email" required="" placeholder="Email address" autofocus="" id="loginEmail"></div>
                <div class="form-group">
                  <!--should reset the users password  -->
                  <button class="btn btn-primary btn-block btn-lg btn-signin" ng-click="passwordLogin(email, pass)" type="submit">Reset Password</button>
                </div>
</form>


