<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Groups </h3></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name </th>
                                <th>Number of People in Group</th>
                                <th>Group Points</th>
                                <th>Creator by</th>
                                <th>Time created</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="group.html">Youth-group </a></td>
                                <td>2 </td>
                                <td>10,000 </td>
                                <td><a href="user.html">John Doe</a></td>
                                <td>20/2/2017 18:32:23</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
