<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Update News</h3>
  </div>
  <div class="panel-body">
    <div ng-show="success" class="alert alert-success">
      <strong>Success!</strong> News Updated!
    </div>
    <form name="update_news" class="bootstrap-form-with-validation">
      <div class="form-group">
        <label class="control-label" for="title">Title: </label>
        <input class="form-control" type="text" name="title" ng-model="title" id="text-input">
      </div>
      <div class="form-group">
        <label class="control-label" for="description">Desciption: </label>
        <textarea class="form-control" name="description" ng-model="description" id="textarea-input"></textarea>
      </div>
      <div class="form-group">
        <div class="progress" style="margin-bottom: 5px">
            <div class="progress-bar progress-bar-striped bg-success" aria-valuenow="0" style="width: 0%; text-align: center" id="uploader" role="progressbar"  aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <label class="control-label" for="image">Image(s): </label>
        <input type="file" accept="image/*" name="image" value="upload" id="fileButton">
      </div>
      <div class="form-group"></div>
      <div class="btn-group">
        <button class="btn btn-primary" ng-click="update()">Create Event</button><button class="btn btn-success" ng-click="clear()" type="reset">Clear</button>
      </div>
    </form>
  </div>
</div>
