  <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">John Doe </h3></div>
            <div class="panel-body"><span> </span>
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Contact Details</h3></div>
                        <div class="panel-body"><span> </span>
                            <div class="row">
                                <div class="col-md-12"><span>Cell: 0816190776</span></div>
                                <div class="col-md-12"><span>Email: johnshikongo@gmail.com</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7"></div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Contribution History</h3></div>
                        <div class="panel-body"><span> </span><span>Line graph that shows when a user has made a contribution</span></div>
                    </div>
                </div>
                <hr>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Goods Contributed</h3></div>
                        <div class="panel-body"><span>Goods Contributed</span></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Services Contributed</h3></div>
                        <div class="panel-body"><span>Bar graph that shows the goods a user has contributed</span></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Groups Contributed</h3></div>
                        <div class="panel-body"><span>Bar graphs that show the groups into which a user has contributed</span></div>
                    </div>
                </div>
            </div>
        </div>
